WpfClient/Connected Services/GisServiceReference/GisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58773/GisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58773/GisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58773/GisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GisData.db" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGisService_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetAllPrognoses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrognoses" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetAllPrognoses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPrognosesResponse" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetPrognosesByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrognosesByCity" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetPrognosesByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrognosesByCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IGisService">
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IGisService/GetAllCities" message="tns:IGisService_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGisService/GetAllCitiesResponse" message="tns:IGisService_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPrognoses">
      <wsdl:input wsaw:Action="http://tempuri.org/IGisService/GetAllPrognoses" message="tns:IGisService_GetAllPrognoses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGisService/GetAllPrognosesResponse" message="tns:IGisService_GetAllPrognoses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrognosesByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IGisService/GetPrognosesByCity" message="tns:IGisService_GetPrognosesByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGisService/GetPrognosesByCityResponse" message="tns:IGisService_GetPrognosesByCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGisService" type="tns:IGisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/IGisService/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPrognoses">
      <soap:operation soapAction="http://tempuri.org/IGisService/GetAllPrognoses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrognosesByCity">
      <soap:operation soapAction="http://tempuri.org/IGisService/GetPrognosesByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GisService">
    <wsdl:port name="BasicHttpBinding_IGisService" binding="tns:BasicHttpBinding_IGisService">
      <soap:address location="http://localhost:58773/GisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>