WpfClient/Connected Services/GisServiceReference/GisService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58773/GisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GisData.db" />
  <xs:element name="GetAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GisData.db" minOccurs="0" name="GetAllCitiesResult" nillable="true" type="q1:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrognoses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPrognosesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GisData.db" minOccurs="0" name="GetAllPrognosesResult" nillable="true" type="q2:ArrayOfPrognosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrognosesByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrognosesByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GisData.db" minOccurs="0" name="GetPrognosesByCityResult" nillable="true" type="q3:ArrayOfPrognosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>