WpfClient/Connected Services/GisServiceReference/GisService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GisData.db" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GisData.db" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gis_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfPrognosis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prognosis" nillable="true" type="tns:Prognosis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrognosis" nillable="true" type="tns:ArrayOfPrognosis" />
  <xs:complexType name="Prognosis">
    <xs:sequence>
      <xs:element minOccurs="0" name="Air_temp" type="xs:float" />
      <xs:element minOccurs="0" name="City_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Comfort_temp" type="xs:float" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Humidity" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Pressure" type="xs:float" />
      <xs:element minOccurs="0" name="Water_temp" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prognosis" nillable="true" type="tns:Prognosis" />
</xs:schema>